body {
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    margin: 20px;
}
form{
    width: 20%;
    font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
}
button {
    color: white;
        width: 80px;
        border: none;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding: 4px;
        margin: 3px 1px;
}
button[type="submit"] {
        background: green;
}
button[type="reset"] {
        background: red;
}
h1{
    text-align: center;
    font-size: 40px;
}
.T {
    width: 95%;
    padding: 3px;
}
label {
    font-size: larger;
}