/*! Adminre v.1.2.0 - custom.css
 *
 * @note : Avoid altering this file. Any enhancement should be done in this file
 * @author : JohnPozy
 * @author URL : http://themeforest.net/user/pampersdry
 */
 
/* ----------------------------
 *
 * Your very own modification ;)
 *
 * --------------------------- */

 div.clear
 {
	 clear: both;
 }
 

div.product-chooser.disabled div.product-chooser-item
{
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: default;
}

div.product-chooser div.product-chooser-item{
	padding: 11px;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	border: 1px solid #efefef;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10x;
}

div.product-chooser div.product-chooser-item.selected{
	border: 4px solid #428bca;
	background: #efefef;
	padding: 8px;
	filter: alpha(opacity=100);
	opacity: 1;
}
	 
div.product-chooser div.product-chooser-item img{
	padding: 0;
}

div.product-chooser div.product-chooser-item span.title{
	display: block;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description{
	font-size: 12px;
}

div.product-chooser div.product-chooser-item input{
	position: absolute;
	left: 0;
	top: 0;
	visibility:hidden;
}


#LibTab .tab-content ul
{
	list-style-type:none;
}

.table.table-bordered.pr10.dataTable
{
	width: 100% !important;
}

.ico-cog22
{
	color: #fff !important;
}

.caret
{
	color: #fff !important;
}

.adnu-logo-figure
{
	width: 128px;
	background-image: url("../image/logo/adnu-logo.png");
	background-repeat: no-repeat;
	background-position: 0px 8px;
	background-size: 128px 128px;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	height: 140px;
	margin-bottom: 35px;
}

.header_design
{
	background-color : #336699 !important;
	color :white;
}

.header_inside
{
	background-color : #003366 !important;

}

.table_header
{
	background-color : #003366 !important;
	color: white !important;
}

.header_responsive
{
	background-color : #003366 !important;

}

.header_title
{
	text-align : center;
}

.home_sidebar
{
	background-color : #D0D0D0 !important;

}

.footer_design
{
	background-color : #1c558d !important;
	color :white;
}

.footer_bottom
{
	background-color : #15416c !important;
	color :white;
}


.sidebar_design
{
background-color : #444 !important;
color: white !important;
}


.classmate_panel
{
background-color : #336699 !important;
color: white !important;


}


.SidebarDesignCustom{
	background-color: #303030 !important;

}
